body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 20px;
    background-color: #140e0d;
    color: #333;
    line-height: 1.5;
}

.app {
    max-width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input[type="text"], textarea {
    width: 90%;
    padding: 12px 15px;
    margin: 10px 0;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007BFF;
    color: #ffffff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00b33c;
}

.note {
    padding: 15px;
    background-color: #aaa7a7;
    border-radius: 5px;
    margin: 10px 0;
    
}

.note-checkbox {
    margin-right: 10px;
}

.note-title, .note-content {
    margin: 0;
    cursor: pointer;
    position: relative; /* Allows positioning of pseudo-elements relative to these elements */
 
}

.note-title::before, .note-content::before {
    content: ''; /* Start with empty content */
    display: none; /* Hide it by default */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.note-title:hover, .note-content:hover {
    visibility: hidden; /* Makes the element 'invisible' but it still takes up space */
}

.note-title:hover::before, .note-content:hover::before {
    content: 'Edit'; /* Display "Edit" on hover */
    display: block;
    visibility: visible;
    background-color: rgb(71, 69, 69);
    color:white
}


hr {
    width: 90%;
    margin: 10px 0;
    border-top: 1px solid #2a2727;
}
#wrap-it{
        word-wrap: break-word;
    }