        .text{
            font-weight: bolder;
            color: brown;
            text-align: center;
            text-decoration: underline;
        }
        
        .text:hover{
            color: blue;
        }