/* Write your desired css here */
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    width: 350px;
    box-shadow: 0 0 20px 2px lightgrey;
    border-radius: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1{
    text-align: center;
}

label{
    font-weight: bold;
}

input{
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    color: grey;
}

#btn{
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 6px;
    border: none;
}